<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /

# hg antigo
RewriteRule ^posts/(.*)$ http://old.hackergaucho.com.br/posts/$1 [L,R=301]

# tudo para o index
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>
