/*extra*/
.center{
    text-align:center;
}
.left{
    text-align:left;
}

.moz-reader-content h1,
.moz-reader-content h2,
.moz-reader-content h3 {
  font-weight: bold;
}

.moz-reader-content h1 {
  font-size: 1.6em;
  line-height: 1.25em;
}

.moz-reader-content h2 {
  font-size: 1.2em;
  line-height: 1.51em;
}

.moz-reader-content h3 {
  font-size: 1em;
  line-height: 1.66em;
}

.moz-reader-content a:link {
  text-decoration: underline;
  font-weight: normal;
}

.moz-reader-content a:link,
.moz-reader-content a:link:hover,
.moz-reader-content a:link:active {
  color: #0095dd;
}
.moz-reader-content a:visited {
  color: #c2e;
}
.moz-reader-content p,
.moz-reader-content p,
.moz-reader-content code,
.moz-reader-content pre,
.moz-reader-content blockquote,
.moz-reader-content ul,
.moz-reader-content ol,
.moz-reader-content li,
.moz-reader-content figure,
.moz-reader-content .wp-caption {
  margin: -10px -10px 20px -10px;
  padding: 10px;
  border-radius: 5px;
}
.moz-reader-content li {
  margin-bottom: 0;
}
.moz-reader-content li > ul,
.moz-reader-content li > ol {
  margin-bottom: -10px;
}
.moz-reader-content p > img:only-child,
.moz-reader-content p > a:only-child > img:only-child,
.moz-reader-content .wp-caption img,
.moz-reader-content figure img {
  display: block;
}
.moz-reader-content img[moz-reader-center] {
  margin-left: auto;
  margin-right: auto;
}
.moz-reader-content .caption,
.moz-reader-content .wp-caption-text
.moz-reader-content figcaption {
  font-size: 0.9em;
  line-height: 1.48em;
  font-style: italic;
}
.moz-reader-content code,
.moz-reader-content pre {
  white-space: pre-wrap;
}
.moz-reader-content blockquote {
  padding: 0;
  padding-inline-start: 16px;
}
.moz-reader-content ul,
.moz-reader-content ol {
  padding: 0;
}
.moz-reader-content ul {
  padding-inline-start: 30px;
  list-style: disc;
}
.moz-reader-content ol {
  padding-inline-start: 30px;
  list-style: decimal;
}
.right{
    text-align:right;
}
* {
    line-height:1.5em
}
a{
    color:blue;
}
a:hover{
    color:red;
}
body{
    color: #333333;
    background-color: #ffffff;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.25em;
    line-height: 1.6em;
}
button{
    cursor:pointer;
    display:block;
    margin:0.75em auto;
}
input[type=email],input[type=password],input[type=text],select,textarea{
    display:block;
    width:calc(100% - 2px);
    width:100%;
}
label{
    cursor:pointer;
    display:block;
    font-weight:bold;
    width:100%;
}
pre{
    background-color: lightgray;
    display: block;
    font-weight: bold;
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
small{
    font-size:0.75em;
}
/*fix by http://browserhacks.com*/
@supports (-moz-appearance:meterbar) {
    input[type=email],input[type=password],input[type=text]{
        width:calc(100% - 1.5em);
    }
    select{
        margin-left: -1px;
        width:calc(100% - 0.5em);
    }
    textarea{
        width:calc(100% - 1em);
    }
}
/*desktop*/
@media ( min-width : 1024px) {
    .desktop{
        display:block;
        visibility: visible;
    }
    .r {
        width:auto;
    }

    .r:before,
    .r:after {
        display: table;
        line-height: 0;
        content: "";
    }

    .r:after {
        clear: both;
    }
    .r > [class*="g"] {
        display: block;
        float: left;
        width: 100%;
        min-height: 30px;
        margin-left: 0.75%;
    }

    .r > [class*="g"]:first-child {
        margin-left: 0;
    }
    .r .g12 {
        width: 100%;
    }

    .r .g11 {
        width: 91.4%;
    }

    .r .g10 {
        width: 82.9%;
    }

    .r .g9 {
        width: 74.4%;
    }

    .r .g8 {
        width: 65.9%;
    }

    .r .g7 {
        width: 57.4%;
    }

    .r .g6 {
        width: 48.9%;
    }

    .r .g5 {
        width: 40.4%;
    }

    .r .g4 {
        width: 31.9%;
    }

    .r .g3 {
        width: 23.4%;
    }

    .r .g2 {
        width: 14.8%;
    }

    .r .g1 {
        width: 6.3%;
    }

    .c {
        width:100%;
    }
}
/*mobile*/
@media ( max-width : 1024px) {
    .desktop{
        display: none;
        visibility: hidden;
    }
    .c {
        margin: 0;
        width: 100%;
    }
    .left,.right{
        text-align:center;
    }
    .r > [class*="g"] {
        display: block;
        float: none;
        padding: 0 10px;
        margin: 0 auto;
        width: auto;
    }
}
